body {
    background-color: black;
    box-sizing: border-box;

    display: flex;
    justify-content: center;

    .carousel {
        width: 80vw;
        height: 600px;

        .slides {
            width: 100%;
            height: 100%;

            > img {
                width: 90%;
                height: auto;
            }
        }
    }
}